<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta cache>
{{template "head.html"}}
</head>
<body class="body">

<div class="body-wrapper">

{{template "header.html" .}}

{{if.user}}
{{if .articles}}
{{range $index,$value := .articles}}
    <div id="main" class="article-warp">

        <header class="article-title">
            <a href="/article/{{$value.Id}}">{{$value.Title}}</a>
        </header>

        <span class="article-content">{{str2html $value.Content}}<br></span>

        <div class="article-panel">

            <span>createTime: </span>
            <time title="Post created" datetime="2018-07-07">{{$value.Time}}</time>
            <span class="article-panel-divider">|</span>
            <span>Author:</span>
            <span><a href="" rel="index">
                                <span>{{$value.Author.UserName}}</span>
                              </a>
                        </span>
            <span class="article-panel-divider">|</span>
            <a class="readmore" href="/article/{{$value.Id}}">Read more »</a>
        </div>
    </div>
{{end}}
{{else}}
    <!--空白页显示-->
{{template "empty.html"}}
{{end}}
{{else}}
    {{template "empty.html"}}
{{end}}
</div>
</div>

<div id="over" class="over"></div>

</body>