<!DOCTYPE html>
<html>
<head>
    <title></title>
{{template "head.html"}}


</head>
<body>

{{template "header.html" .}}

<div id="wrap">
    <div class="container">
        <div class="col-sm-3">
            <div class="text-center">
            {{template "user_status.html" .}}
                <!--模板函数-->
                <h4>Hobby</h4>
                <div>
                {{$hobbys :=  split .u.Hobby "," }}
                {{range $hobbys}}
                    <a class="btn btn-xs btn-success">{{.}}</a>
                {{end}}
                </div>

                <h4>文章标签</h4>
                <div>...</div>
            </div>
        </div>
        <div class="col-sm-9">
            <div>
            {{range $index,$value := .articles}}

                <div>
                    <h2><a href="/article/{{$value.Id}}">{{$value.Title}}</a></h2>

                    <div>
                        <span>{{$value.Time}}</span>

                    {{if $.user}}
                    {{if eq $value.Author.UId $.user.UId}}
                        <span class="pull-right">
									<a href="/article/edit/{{$value.Id}}">编辑</a> |
									<a href="/article/del/{{$value.Id}}">删除</a>
								</span>
                    {{end}}
                    {{end}}
                    </div>
                    <div>
                        <pre>{{$value.Content}}</pre>
                    </div>
                </div>
            {{end}}
            </div>
        </div>

    </div>
</div>
</body>