<!DOCTYPE html>
<html lang="en">
<!--用户注册-->
<head>
    <title>注册</title>
    <meta charset="UTF-8">
{{template "head.html" .}}
</head>
<body>


<div id="register-box" class="login-register">

    <div class="login-register-header">

        <img src="/static/img/persion_log.jpg" class="login-register-img">

        <div class="login-register-header">
            <h1>注册</h1>
            <img id="register-close" src="/static/img/close.png" class="login-register-close"/>
        </div>

        <form id="register-form" action="/register" method="post">

            <input class="login-register-input" name="username" placeholder="用户名"/>

            <input class="login-register-input" name="describe" placeholder="简单介绍下自己">

            <input class="login-register-input" name="email" type="email" placeholder="邮箱">

            <input class="login-register-input" name="password" type="password" placeholder="新账号密码">

            <input class="login-register-input" name="password2" type="password" placeholder="确认密码">

            <input type="submit" class="login-register-btn">

            <span>
                已有账号点击？
                  <a href="javascript:login();" title="">登录</a>
            </span>

        </form>

    </div>

</div>

<script type="text/javascript">


    /**
     * 提交注册
     //  * */
    // function submmitRegister() {
    //     var tmp = ajaxSubmit("#register-form", function () {
    //         if (tmp.responseJSON.success == true) {
    //             location.href="/"
    //         } else {
    //             alert(tmp.responseJSON.content)
    //         }
    //     })
    // }


    $('#register-form').bind('submit', function () {
        var tmp = ajaxSubmit(this, function () {
            if (tmp.responseJSON.success == true) {
                location.href = "/user/" + tmp.responseJSON.content
                location.reload()
            } else {
                alert(tmp.responseJSON.content)
            }
        })
        return false
    })

    /*跳转到登录页面*/
    function login() {

        var oLoginBox = document.getElementById("login-box")
        var oRegisterBox = document.getElementById("register-box")

        oRegisterBox.style.display = 'none';
        oRegisterBox.style.zIndex = 0;

        oLoginBox.style.display = 'block';
        oLoginBox.style.zIndex = 1;
    }

</script>

</body>
</html>