<!DOCTYPE html>
<html lang="en">
<!--用户注册-->
<head>
    <title>Register</title>
    <meta charset="UTF-8">

{{template "head.html" .}}
</head>
<body>


<div>
    <img src="{{.img}}" width="90px" height="90px" id="logo">

    <form id="upload" action="/file/imgupload" enctype="multipart/form-data" method="post">
        <input type="file" name="imgFiles"/>
        <input type="submit"/>
    </form>

</div>

<div class="col-sm-4">

    <div class="well">

        <form action="/register" method="post">

            <div class="form-group">
                <label>UserName</label>
                <input class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Nick</label>
                <input class="form-control" name="nick">
            </div>
            <div class="form-group">
                <label>describe</label>
                <input class="form-control" name="describe">
            </div>
            <div class="form-group">
                <label>Hobby</label>
                <input class="form-control" name="hobby">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="email" type="email">
            </div>
            <div class="form-group">
                <label>Password1</label>
                <input class="form-control" name="password" type="password">
            </div>
            <div class="form-group">
                <label>Confirm</label>
                <input class="form-control" name="password2" type="password">
            </div>

            <input type="submit" class="btn btn-default">

        </form>
    </div>
</div>

<script type="text/javascript">
    $('form').bind('submit', function () {
        alert(this.action)

        if (!this.action.includes('/file/imgupload')) {
            alert('/file/imgupload')
            var tmp = ajaxSubmit(this, function () {
                if (tmp.responseJSON.success == true) {
                    alert("成功")
                    location.href = '/login'
                } else {
                    alert(tmp.responseJSON.content)
                }
            })
            return false
        }
    });

</script>

</body>
</html>