<!DOCTYPE html>
<html>
<head>
    <title>设置中心</title>

{{template "head.html" .}}
</head>
<body class="body">
<div class="body-wrapper">

{{template "header.html" .}}
    <div id="main" class="settings-wrap">
        <div>
            <div class="container">
                <div class="col-md-3">
                    <ul class="indirect-function-site-menu">
                        <li>
                            <a href="javascript:userinfo();" title="">基本信息</a>
                        </li>
                        <li>
                            <a href="javascript:userlogo();" title="">头像设置</a>
                        </li>
                        <li>
                            <a href="javascript:presentation();" title="">安全中心</a>
                        </li>

                    </ul>
                </div>


                <div class="col-md-7">
                    <div class="settings-info-content" id="userinfo_div">
                        <h2>基本信息</h2>
                        <hr>
                        <form action="/settinginfo" method="post">
                            <div class="settings-info">
                                <label>UserName</label>
                                <input class="settings-info-input" value="{{.user.UserName}}" readonly>
                            </div>
                            <div class="settings-info">
                                <label>describe</label>
                                <input class="settings-info-input" name="describe" value="{{.user.Describe}}">
                            </div>
                            <div class="settings-info">
                                <label>About</label>
                                <input class="settings-info-input" name="hobby" value="{{.user.About}}">
                            </div>
                            <div class="settings-info">
                                <label>Email</label>
                                <input class="settings-info-input" name="email" type="email"
                                       value="{{.user.Email}}">
                            </div>

                            <input type="submit" class="settings-info-btn">
                        </form>
                    </div>

                    <div class="settings-info-content" id="userlogo_div">
                        <h2>头像设置</h2>
                        <hr>
                        <img src="{{.user.LogoImgUrl}}" width="90px" height="90px" id="logo">
                        <form id="upload" action="/file/resetLogoImg" enctype="multipart/form-data" method="post">
                            <input type="file" name="imgFiles"/>
                            <input type="submit" class="settings-info-btn"/>
                        </form>
                    </div>

                    <div class="settings-info-content" id="account_div">
                        <h2>密码修改</h2>
                        <hr>
                        <form action="/settingpwd" method="post">
                            <div class="settings-info">
                                <label>User</label>
                                <input class="settings-info-input" value="{{.user.UserName}}" readonly>
                            </div>
                            <div class="settings-info">
                                <label>Old Password</label>
                                <input class="settings-info-input" name="oldpwd" value="" type="password">
                            </div>
                            <div class="settings-info">
                                <label>New Password</label>
                                <input class="settings-info-input" name="newpwd" value="" type="password">
                            </div>
                            <div class="settings-info">
                                <label>Confirm</label>
                                <input class="settings-info-input" name="confirmpwd" value="" type="password">
                            </div>
                            <input type="submit" class="settings-info-btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        $('form').bind('submit', function () {

            var action = this.action

            if (!action.includes("/file/resetLogoImg")) {

                var tmp = ajaxSubmit(this, function () {
                    if (tmp.responseJSON.success == true) {
                        location.reload()
                    }

                    alert(tmp.responseJSON.content)

                })
                return false;
            }
        })


        var userinfoDiv = document.getElementById("userinfo_div");
        var userlogoDiv = document.getElementById("userlogo_div")
        var presentationDiv = document.getElementById("account_div")

        window.onload = userinfo()

        function userinfo() {
            userinfoDiv.style.display = 'block';
            userlogoDiv.style.display = 'none';
            presentationDiv.style.display = 'none';
        }

        function userlogo() {
            userinfoDiv.style.display = 'none';
            userlogoDiv.style.display = 'block';
            presentationDiv.style.display = 'none';
        }

        function presentation() {
            userinfoDiv.style.display = 'none';
            userlogoDiv.style.display = 'none';
            presentationDiv.style.display = 'block';
        }


    </script>
</div>
</body>
</html>