<!DOCTYPE html>
<html>
<head>
    <title>{{.article.Title}} - {{.article.Author.UserName}}</title>
{{template "head.html" .}}
</head>
<body class="body-article">
<div class="body-article-wrapper">
{{template "header.html" .}}

    <div id="main" class="article-warp">

        <div class="container">

            <header class="article-title">

                <h2>
                    <a href="/article/{{.article.Id}}">{{.article.Title}}</a>
                </h2>

                <div class="article-details-title">
                     <span>
                        <span>创建时间: </span>
                        <time title="Post created" datetime="2018-07-07">2018-07-07</time>
                    </span>
                    <span>
                        <span class="article-button-divider">|</span>
                         <span>Author:</span>
                        <span>
                            <a href="" rel="index">
                                <span>{{.article.Author.UserName}}</span>
                            </a>
                        </span>
                </span>
                </div>

                <div class="article-details-tags">
                    <!--标签-->
                    <span>标签：</span>
                {{range .article.Tags}}
                    <a href="/tags/list?tagsName={{.Name}}" class="btn btn-{{.RandColor}} btn-xs">{{.Name}}</a>
                {{end}}
                </div>

                <div class="article-details-del-edit">
                {{if $.user}}
                {{if eq $.article.Author.UId $.user.UId}}
                    <span>
                <a href="/article/edit/{{$.article.Id}}">编辑</a> |
                <a href="/article/del/{{$.article.Id}}">删除</a>
                </span>
                {{end}}
                {{end}}
                </div>

            </header>

            <div class="article-content" style="width: 91%;outline:none;margin-bottom: 60px;padding-bottom: 60px">

            {{str2html .bodyContent}}

            </div>
        </div>

        <div id="container"></div>
    </div>

</div>

</div>

<script>
    var gitment = new Gitment({
        id: window.location.pathname,
        owner: 'D-Rusty',
        repo: 'go.project',
        oauth: {
            client_id: '3d7b3da48fb59d92c699',
            client_secret: 'fbc1bf4a12e6f8c77b0549a25fae1bfadf98f933',
        },
    })
    gitment.render('container')


    function bindParent(id, nick) {
        console.log(id, nick)
        $("[name=parent_id]").val(id);
        $("[name=content]").val('@' + nick + ' ').focus();
    }

    $("a[data-reply]").click(function () {
        console.log($(this).data('reply'), $(this).data('user'))
        bindParent($(this).data('reply'), $(this).data('user'));
    });

    $("form").bind("submit", function () {
        var tmp = ajaxSubmit(this, function () {
            var ok = tmp.responseJSON.success;
            if (ok == true) {
                alert("创建评论成功");
                location.reload();
            } else {
                alert(tmp.responseJSON.content)
            }
        });
        return false;
    })
</script>
</body>
</html>