<html>
<head>
    <title>New</title>
{{template "head.html" .}}
</head>
<body class="body">
<div class="body-wrapper">
{{template "header.html" .}}
    <div id="editor" class="article-warp">


        <form method="post" action="/article/new">

            <input class="article-create-title" name="title" placeholder="请输入文章标题..." style="">


            <div>
                 <textarea class="article-create-input-content"
                           name="content" :value="input" @input="update"></textarea>
            </div>

            <div class="article-create-input-preview">

                <div v-html="compiledMarkdown" class="article-create-markdown_preview"></div>

                <input type="submit" class="article-create-btn" value="">
            </div>


        </form>

    </div>

    <script type="text/javascript">
        new Vue({
            el: '#editor',
            data: {
                input: '# hello'
            },
            computed: {
                compiledMarkdown: function () {
                    return marked(this.input, {sanitize: true})
                }
            },
            methods: {
                update: _.debounce(function (e) {
                    this.input = e.target.value
                }, 300)
            }
        })

        $('form').bind('submit', function () {
            var tmp = ajaxSubmit(this, function () {
                if (tmp.responseJSON.success == true) {
                    alert("成功")
                    location.href = '/article/' + tmp.responseJSON.content
                } else {
                    alert(tmp.responseJSON.content)
                }
            })
            return false;
        })
    </script>
</div>
</body>
</html>