<meta charset='urf-8'>
<script type="text/javascript" src="/static/js/blog.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/js/marked.js"></script>
<script type="text/javascript" src="/static/js/lodash.js"></script>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">